#topbar {
    text-align: center;
    background-color: #04abb4;
}

#profiles div {
    border: 5px solid black;
}

#topbar {
    align-items: center;
    padding: 1%;
    background-color: #04abb4;
}

#search {
  display: flex;
  justify-content: center;
}

.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  }

#dropdown {
  float: inline;
  overflow: hidden;
  display: flex;
  justify-content: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

#profiles {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 30px;
}

.button {
    font-size: 25px;
    color: white;
}